{% extends "base.html" %}
{% load static %}
{% block title %}Sign up{% endblock %}
{% block content %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Sign up</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Sign up Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <!-- Sign up form -->
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <!-- Alerts -->
                        {% include '_alerts.html' %}
                        <div class="contact__form">
                            <h5>CREATE ACCOUNT</h5>
                            <form action="{% url 'signup' %}"  method ="POST">
                                {% csrf_token %}
                                <input type="text" name="full_name" placeholder="Full Name" required>
                                <input type="text" name="username" placeholder="Username" required>
                                <input type="text" name="email" placeholder="Email" required>
                                <input type="text" name="password" placeholder="Password" required>
                                <input type="text" name="password2" placeholder="Confirm Password" required>

                                <button type="submit" class="site-btn">Submit</button>
                            </form>
                            <br/><br/> <p>Already have an account? <a href="{% url 'login' %}" style="color: black;"><strong> Login here </strong></a></p>
                        </div>
                    </div>
                </div>
                <!-- Ad space -->
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <!-- Advert can take up this space in the future -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Sign up Section End -->

{% endblock content %}