<div id="message" class="container">
    <div class="alert alert-success alert-dismissible flex-column align-items-start" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading text-center">Your order has been placed successfully! </h4>
        <hr>
        <p>
            Please Proceed to make payment to (Account No - {{acc_number}}), (Account name - {{acc_name}}), (Bank name - {{bank}}). 
            Use <strong>{{ref_id}}</strong> as payment reference. 
            <br/>
            <br/>
        </p>
        <h5 class="text-center">Thank you for patronizing us! </h5>

    </div>
</div>
