{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to a platform where you can find all kinds of womens wears, natives, fashion items,childrens wears etc.">
    <meta name="keywords" content="Fashion, gowns, wears, clothes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ellys Fashion | {% block title %}{% endblock %}</title>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{%  static '/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">

    <style>
        #wf {
            color: rgb(255, 149, 0);
        }

        .header_logo {
            height: 20px;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>

        <ul class="offcanvas__widget">
            <li>
                <!-- Search Icon (mobile view)-->
                <span class="icon_search search-switch"></span>
            </li>
            <li>
                <!--No of Liked items (mobile view)-->
                {% if user.is_authenticated %}
                <a  href="{% url 'account' %}">
                    <span class="icon_heart_alt"></span>
                    <div class="tip wishlist_count_mobile">
                        {{request.session.wishlist}}
                    </div>
                </a>
                {% else %}
                <a  href="{% url 'login' %}">
                    <span class="icon_heart_alt"></span>
                    <div class="tip wishlist_count_mobile">
                        0
                    </div>
                </a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'cart' %}">
                    <!--No of items in cart (mobile view) -->
                    <span class="icon_bag_alt"></span>
                    {% if request.session.cart_items_count %}
                    <div class="tip cart_count_mobile">
                        {{request.session.cart_items_count}}
                    </div>
                    {% else %}
                    <div class="tip cart_count_mobile">
                        0
                    </div>
                    {% endif %}
                </a>
            </li>
        </ul>
         <!--Logo (mobile view) -->
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}">
                <img src="{% static '/img/ell.png' %}" alt="ellys logo">
            </a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'account' %}">Account</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Register</a>
            {% endif %}
        </div>
    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static '/img/ell.png' %}" alt="logo" width="200px" height="40px">
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'products' %}">Shop</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li>
                                <a 
                                {% if user.is_authenticated %}
                                href="{% url 'account' %}"
                                {% else %}
                                href="{% url 'login' %}"
                                {% endif %}>
                                My account
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                            <a href="{% url 'account' %}">Account</a>
                            {% else %}
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'signup' %}">Register</a>
                            {% endif %}
                        </div>
                        <ul class="header__right__widget">
                            <li>
                                <span class="icon_search search-switch"></span>
                            </li>
                            <li>
                                <!--No of Liked items (desktop view)-->
                                {% if user.is_authenticated %}
                                <a  href="{% url 'account' %}"><span class="icon_heart_alt"></span>
                                    <div class="tip wishlist_count">{{request.session.wishlist}}</div>
                                </a>
                                {% else %}
                                <a  href="{% url 'login' %}"><span class="icon_heart_alt"></span>
                                    <div class="tip wishlist_count">0</div>
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                <!--No of items in cart (desktop view) -->
                                <a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                                    {% if request.session.cart_items_count %}
                                    <div class="tip cart_count">{{request.session.cart_items_count}}</div>
                                    {% else %}
                                    <div class="tip cart_count">0</div>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    

{% block content %}
    
{% endblock content %}

 
    <!-- Instagram photos Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static '/img/instagram/insta-1.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#" target="_blank">@ Ellys_store</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static '/img/instagram/insta-2.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#" target="_blank">@ Ellys_store</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static '/img/instagram/insta-3.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#" target="_blank">@ Ellys_store</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static '/img/instagram/insta-4.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#" target="_blank">@ Ellys_store</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static '/img/instagram/insta-5.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#" target="_blank">@ Ellys_store</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="{% static '/img/instagram/insta-6.jpg' %}">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#" target="_blank">@ Ellys_store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram photos End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static '/img/ell.png' %}" alt="logo" width="200px" height="40px">
                            </a>
                        </div>
                        <p>Your satisfaction is our goal. Try us today and get a taste of glamour.
                            You can pay by transfer or by cash.</p>
                       
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'terms' %}">Terms and Condition</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="{% url 'account' %}">My Account</a></li>
                            <li><a href="{% url 'account' %}">Orders Tracking</a></li>
                            <li><a href="{% url 'cart' %}">Checkout</a></li>
                            <li><a href="{% url 'account' %}">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="{% url 'subscribe' %}"  method ="POST">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="Email" required>
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <!-- <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> -->
                            <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                            <!-- <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved 
                             <!-- <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a> -->
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" action="{% url 'search' %}"  method ="POST">
                {% csrf_token %}
                <input type="text" name="search-input" id="search-input" placeholder="Type here now.....">
                <button type="submit" class="site-btn">Search</button>
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/js/jquery-ui.min.js' %}"></script>
    <script src="{% static '/js/mixitup.min.js' %}"></script>
    <script src="{% static '/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static '/js/jquery.slicknav.j' %}s"></script>
    <script src="{% static '/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/customjquery.js' %}"></script>
</body>

</html>